# Building system
node_modules
system
_*
config.js
Gruntfile.js

# New Layout
src/newLayout
app.build.js

# Build
bin

# Windows
desktop.ini

# Other directories
test
backup
images_for_review
images_old
extensions

# Other files
*.txt
.htaccess
demo.php
titles.json
rss.json