# Building system
node_modules
system
_*
config.js
Gruntfile.js

# New Layout
src/newLayout

# Build
bin

# Windows
desktop.ini

# Other directories
test
backup
extensions

# Other files
*.txt
.htaccess
demo.php
titles.json
rss.json

# jetbrains
.idea