# Building system
node_modules
_*

# Development
src/dev

# Build
bin
out

# Windows
desktop.ini

# Other directories
test
backup
images_for_review
images_old

# Other files
*.txt
.idea
.htaccess
demo.php
titles.json
rss.json
extensions/key.pem
extensions/Maxthon.mxaddon
extensions/Chrome.zip
extensions/ChromeOpera.crx
extensions/Opera.crx
extensions/Firefox*
extensions/promotionalSmall.png
extensions/Opera/plugCubed.js