#side-left .sidebar-content {
    overflow: auto;
}

#side-left .sidebar-content p {
    margin: 0;
    padding-top: 2px;
    text-indent: 15px;
    font-size: 10px;
    height: 15px;
}

#side-left .sidebar-content p:hover {
    color: #66ff33;
}

#side-left .sidebar-content p:first-child {
    padding-top: 0px !important;
}

#side-left .sidebar-content h1.users {
    text-indent: 8px;
    color: #66FFFF;
    font-size: 16px;
}

#side-left .sidebar-content h3.waitlistspot {
    color: #66FFFF;
    text-align: left;
    font-size: 15px;
    margin-left: 8px;
}

#side-left .sidebar-content p span.admin_current,
#side-left .sidebar-content p span.admin_undecided,
#side-left .sidebar-content p span.admin_meh,
#side-left .sidebar-content p span.admin_woot,
#side-left .sidebar-content p span.ambassador_current,
#side-left .sidebar-content p span.ambassador_undecided,
#side-left .sidebar-content p span.ambassador_meh,
#side-left .sidebar-content p span.ambassador_woot,
#side-left .sidebar-content p span.bouncer_current,
#side-left .sidebar-content p span.bouncer_undecided,
#side-left .sidebar-content p span.bouncer_meh,
#side-left .sidebar-content p span.bouncer_woot,
#side-left .sidebar-content p span.host_current,
#side-left .sidebar-content p span.host_undecided,
#side-left .sidebar-content p span.host_meh,
#side-left .sidebar-content p span.host_woot,
#side-left .sidebar-content p span.fdj_current,
#side-left .sidebar-content p span.fdj_undecided,
#side-left .sidebar-content p span.fdj_meh,
#side-left .sidebar-content p span.fdj_woot,
#side-left .sidebar-content p span.curate_undecided,
#side-left .sidebar-content p span.curate_meh,
#side-left .sidebar-content p span.curate_woot,
#side-left .sidebar-content p span.p3dev_current,
#side-left .sidebar-content p span.p3dev_undecided,
#side-left .sidebar-content p span.p3dev_meh,
#side-left .sidebar-content p span.p3dev_woot,
#side-left .sidebar-content p span.p3sponsor_current,
#side-left .sidebar-content p span.p3sponsor_undecided,
#side-left .sidebar-content p span.p3sponsor_meh,
#side-left .sidebar-content p span.p3sponsor_woot,
#side-left .sidebar-content p span.p3vip_current,
#side-left .sidebar-content p span.p3vip_undecided,
#side-left .sidebar-content p span.p3vip_meh,
#side-left .sidebar-content p span.p3vip_woot,
#side-left .sidebar-content p span.manager_current,
#side-left .sidebar-content p span.manager_undecided,
#side-left .sidebar-content p span.manager_meh,
#side-left .sidebar-content p span.manager_woot,
#side-left .sidebar-content p span.void {
    background: url('http://alpha.plugcubed.net/images/sprites.png') no-repeat;
    width: 15px;
    height: 15px;
    position: relative;
    left: -5px;
    top: 4px;
    display: inline-block;
}

#side-left .sidebar-content p span.admin_current        { background-position: -45px      0; }
#side-left .sidebar-content p span.admin_meh            { background-position: -30px      0; }
#side-left .sidebar-content p span.admin_undecided      { background-position: -15px      0; }
#side-left .sidebar-content p span.admin_woot           { background-position:     0      0; }
#side-left .sidebar-content p span.ambassador_current   { background-position: -45px  -15px; }
#side-left .sidebar-content p span.ambassador_meh       { background-position: -30px  -15px; }
#side-left .sidebar-content p span.ambassador_undecided { background-position: -15px  -15px; }
#side-left .sidebar-content p span.ambassador_woot      { background-position:     0  -15px; }
#side-left .sidebar-content p span.bouncer_current      { background-position: -45px  -60px; }
#side-left .sidebar-content p span.bouncer_meh          { background-position: -30px  -60px; }
#side-left .sidebar-content p span.bouncer_undecided    { background-position: -15px  -60px; }
#side-left .sidebar-content p span.bouncer_woot         { background-position:     0  -60px; }
#side-left .sidebar-content p span.host_current         { background-position: -45px  -30px; }
#side-left .sidebar-content p span.host_meh             { background-position: -30px  -30px; }
#side-left .sidebar-content p span.host_undecided       { background-position: -15px  -30px; }
#side-left .sidebar-content p span.host_woot            { background-position:     0  -30px; }
#side-left .sidebar-content p span.manager_current      { background-position: -45px  -45px; }
#side-left .sidebar-content p span.manager_meh          { background-position: -30px  -45px; }
#side-left .sidebar-content p span.manager_undecided    { background-position: -15px  -45px; }
#side-left .sidebar-content p span.manager_woot         { background-position:     0  -45px; }
#side-left .sidebar-content p span.fdj_current          { background-position: -45px  -75px; }
#side-left .sidebar-content p span.fdj_meh              { background-position: -30px  -75px; }
#side-left .sidebar-content p span.fdj_undecided        { background-position: -15px  -75px; }
#side-left .sidebar-content p span.fdj_woot             { background-position:     0  -75px; }
#side-left .sidebar-content p span.p3dev_current        { background-position: -45px  -90px; }
#side-left .sidebar-content p span.p3dev_meh            { background-position: -30px  -90px; }
#side-left .sidebar-content p span.p3dev_undecided      { background-position: -15px  -90px; }
#side-left .sidebar-content p span.p3dev_woot           { background-position:     0  -90px; }
#side-left .sidebar-content p span.p3sponsor_current    { background-position: -45px -105px; }
#side-left .sidebar-content p span.p3sponsor_meh        { background-position: -30px -105px; }
#side-left .sidebar-content p span.p3sponsor_undecided  { background-position: -15px -105px; }
#side-left .sidebar-content p span.p3sponsor_woot       { background-position:     0 -105px; }
#side-left .sidebar-content p span.p3vip_current        { background-position: -45px -105px; }
#side-left .sidebar-content p span.p3vip_meh            { background-position: -30px -105px; }
#side-left .sidebar-content p span.p3vip_undecided      { background-position: -15px -105px; }
#side-left .sidebar-content p span.p3vip_woot           { background-position:     0 -105px; }
#side-left .sidebar-content p span.curate_meh           { background-position: -30px -120px; }
#side-left .sidebar-content p span.curate_undecided     { background-position: -15px -120px; }
#side-left .sidebar-content p span.curate_woot          { background-position:     0 -120px; }
#side-left .sidebar-content p span.void                 { background-position:   0px -135px; }

#plugcubed-gui {
    position: absolute;
    margin-left: -522px;
    top: -320px;
}

#plugcubed-gui h2 {
    background-color: #0b0b0b;
    height: 112px;
    width: 156px;
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-variant: small-caps;
    padding: 8px 0 0 12px;
    border-top: 1px dotted #292929;
}

#plugcubed-gui ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#plugcubed-gui li {
    float: left;
}

#plugcubed-gui p {
    background: #0b0b0b;
    height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    font-variant: small-caps;
    width: 84px;
    font-size: 15px;
    margin: 0;
}

#plugcubed-gui p:hover {
    background-color: #3C3C3C;
}

#plugcubed-gui h1 {
    background-color: #0b0b0b;
    height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    font-variant: small-caps;
    width: 84px;
    font-size: 20px;
    margin: 0;
}

.afkTimer {
    width: 90px;
    position: absolute;
    top: 140px;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 99999;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: rgb(69,72,77);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

.sidebar#side-left {
    left: 0px;
    z-index: 99999;
    width: 227px;
    border-right: thin solid #666666;
}

.sidebar#side-right {
    right: 0px;
    z-index: 99999;
    font-size: 14px;
}

.sidebar-handle {
    width: 12px;
    height: 100%;
    z-index: 99999;
    margin: 0;
    padding: 0;
    background: #474747;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .9);
    cursor: "ne-resize";
}

.sidebar-handle span {
    display: block;
    position: absolute;
    width: 10px;
    top: 50%;
    text-align: center;
    letter-spacing: -1px;
    color: #000;
}

.sidebar-content {
    position: absolute;
    width: 185px;
    float: left;
    height: 100%;
    padding: 15px;
}

#side-left a {
    display: block;
    min-width: 100%;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#side-left a span {
    padding-right: 8px;
}

#side-left a:hover {
    background-color: #333;
}

#side-left hr {
    height: 0;
    border: none;
    border-top: 1px solid #AAA;
    padding: 0;
    margin: 10px 30px 10px 0;
}

#side-left .sidebar-handle {
    float: right;
}

#side-right .sidebar-handle {
    float: left;
}

#side-right a {
    display: block;
    min-width: 100%;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

#side-right a span {
    padding-right: 8px;
}

#side-right a:hover {
    background-color: #333;
}

#side-right hr {
    height: 0;
    border: none;
    border-top: 1px solid #AAA;
    padding: 0;
    margin: 10px 0px 10px 3px;
}

#side-right .sidebar-content [class^="faicon-"],
#side-right .sidebar-content [class*=" faicon-"] {
    width: 15px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
}

#side-right .sidebar-content a:hover [class^="faicon-"],
#side-right .sidebar-content a:hover [class*=" faicon-"] {
    text-decoration: none;
}

#side-right .sidebar-content #lock {
    position: absolute;
    top: 7px;
    right: 14px;
}

#side-left .sidebar-content #lock {
    position: absolute;
    top: 7px;
    left: 14px;
}

.status-on {
    color: green;
}

.status-off {
    color: red;
}

#dialog-commands {
    width: 620px;
    height: 610px;
}

#dialog-commands .dialog-submit-button {
    width: 75px;
}

#dialog-custom-colors {
    width: 230px;
    height: 540px;
}

#dialog-custom-colors input[type="text"],
#dialog-chat-limit input[type="text"] {
    width: 60px;
}

#dialog-custom-colors .dialog-body {
    height: 125px;
}

#dialog-custom-colors .dialog-default-button {
    right: 170px;
    width: 50px;
}

#dialog-custom-colors .dialog-cancel-button {
    right: 100px;
}

#dialog-custom-colors .dialog-submit-button {
    width: 75px;
}

#dialog-custom-colors .dialog-checkbox-container-enabled {
    left: 10px;
    top: 5px;
}

#dialog-custom-colors .dialog-input-background {
    width: 60px;
    left: 150px;
}

#dialog-notify {
    width: 190px;
    height: 250px;
}

#dialog-notify .dialog-body {
    height: 125px;
}

#dialog-notify .dialog-cancel-button {
    width: 85px;
    right: 98px;
}

#dialog-notify .dialog-submit-button {
    width: 85px;
    right: 5px;
}

#dialog-notify .dialog-checkbox-container-enabled {
    left: 10px;
    top: 5px;
}

#dialog-notify .dialog-input-background {
    width: 60px;
    left: 150px;
}

#dialog-chat-limit {
    width: 200px;
    height: 150px;
}

#dialog-chat-limit .dialog-body {
    height: 125px;
}

#dialog-chat-limit .dialog-submit-button {
    width: 85px;
    right: 5px;
}

#plug-cubed {
    position: absolute;
    left: 55px;
    top: 0;
    width: 53px;
    height: 54px;
    cursor: pointer;
    background: #323742;
    -moz-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    -webkit-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    box-shadow: inset 0 -2px 0 -1px #0a0a0a;
}

.icon-plug-cubed {
    left: 13px;
    top: 19px;
    background-image: url('http://plugcubed.net/assets/img/logo.png');
    background-size: 30px 15px;
    background-position: 0px 0px;
    background-repeat: no-repeat no-repeat;
}

@font-face{font-family:'FontAwesome';src:url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?v=3.2.1');src:url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal;}[class^="faicon-"],[class*=" faicon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;}
[class^="faicon-"]:before,[class*=" faicon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.faicon-large:before{vertical-align:-10%;font-size:1.3333333333333333em;}
a [class^="faicon-"],a [class*=" faicon-"]{display:inline;}
[class^="faicon-"].faicon-fixed-width,[class*=" faicon-"].faicon-fixed-width{display:inline-block;width:1.1428571428571428em;text-align:right;padding-right:0.2857142857142857em;}[class^="faicon-"].faicon-fixed-width.faicon-large,[class*=" faicon-"].faicon-fixed-width.faicon-large{width:1.4285714285714286em;}
.icons-ul{margin-left:2.142857142857143em;list-style-type:none;}.icons-ul>li{position:relative;}
.icons-ul .faicon-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;text-align:center;line-height:inherit;}
[class^="faicon-"].hide,[class*=" faicon-"].hide{display:none;}
.faicon-muted{color:#eeeeee;}
.faicon-light{color:#ffffff;}
.faicon-dark{color:#333333;}
.faicon-border{border:solid 1px #eeeeee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.faicon-2x{font-size:2em;}.faicon-2x.faicon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.faicon-3x{font-size:3em;}.faicon-3x.faicon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.faicon-4x{font-size:4em;}.faicon-4x.faicon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.faicon-5x{font-size:5em;}.faicon-5x.faicon-border{border-width:5px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.pull-right{float:right;}
.pull-left{float:left;}
[class^="faicon-"].pull-left,[class*=" faicon-"].pull-left{margin-right:.3em;}
[class^="faicon-"].pull-right,[class*=" faicon-"].pull-right{margin-left:.3em;}
[class^="faicon-"],[class*=" faicon-"]{display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;}
.faicon-white,.nav-pills>.active>a>[class^="faicon-"],.nav-pills>.active>a>[class*=" faicon-"],.nav-list>.active>a>[class^="faicon-"],.nav-list>.active>a>[class*=" faicon-"],.navbar-inverse .nav>.active>a>[class^="faicon-"],.navbar-inverse .nav>.active>a>[class*=" faicon-"],.dropdown-menu>li>a:hover>[class^="faicon-"],.dropdown-menu>li>a:hover>[class*=" faicon-"],.dropdown-menu>.active>a>[class^="faicon-"],.dropdown-menu>.active>a>[class*=" faicon-"],.dropdown-submenu:hover>a>[class^="faicon-"],.dropdown-submenu:hover>a>[class*=" faicon-"]{background-image:none;}
.btn [class^="faicon-"].faicon-large,.nav [class^="faicon-"].faicon-large,.btn [class*=" faicon-"].faicon-large,.nav [class*=" faicon-"].faicon-large{line-height:.9em;}
.btn [class^="faicon-"].faicon-spin,.nav [class^="faicon-"].faicon-spin,.btn [class*=" faicon-"].faicon-spin,.nav [class*=" faicon-"].faicon-spin{display:inline-block;}
.nav-tabs [class^="faicon-"],.nav-pills [class^="faicon-"],.nav-tabs [class*=" faicon-"],.nav-pills [class*=" faicon-"],.nav-tabs [class^="faicon-"].faicon-large,.nav-pills [class^="faicon-"].faicon-large,.nav-tabs [class*=" faicon-"].faicon-large,.nav-pills [class*=" faicon-"].faicon-large{line-height:.9em;}
.btn [class^="faicon-"].pull-left.faicon-2x,.btn [class*=" faicon-"].pull-left.faicon-2x,.btn [class^="faicon-"].pull-right.faicon-2x,.btn [class*=" faicon-"].pull-right.faicon-2x{margin-top:.18em;}
.btn [class^="faicon-"].faicon-spin.faicon-large,.btn [class*=" faicon-"].faicon-spin.faicon-large{line-height:.8em;}
.btn.btn-small [class^="faicon-"].pull-left.faicon-2x,.btn.btn-small [class*=" faicon-"].pull-left.faicon-2x,.btn.btn-small [class^="faicon-"].pull-right.faicon-2x,.btn.btn-small [class*=" faicon-"].pull-right.faicon-2x{margin-top:.25em;}
.btn.btn-large [class^="faicon-"],.btn.btn-large [class*=" faicon-"]{margin-top:0;}.btn.btn-large [class^="faicon-"].pull-left.faicon-2x,.btn.btn-large [class*=" faicon-"].pull-left.faicon-2x,.btn.btn-large [class^="faicon-"].pull-right.faicon-2x,.btn.btn-large [class*=" faicon-"].pull-right.faicon-2x{margin-top:.05em;}
.btn.btn-large [class^="faicon-"].pull-left.faicon-2x,.btn.btn-large [class*=" faicon-"].pull-left.faicon-2x{margin-right:.2em;}
.btn.btn-large [class^="faicon-"].pull-right.faicon-2x,.btn.btn-large [class*=" faicon-"].pull-right.faicon-2x{margin-left:.2em;}
.nav-list [class^="faicon-"],.nav-list [class*=" faicon-"]{line-height:inherit;}
.faicon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:-35%;}.faicon-stack [class^="faicon-"],.faicon-stack [class*=" faicon-"]{display:block;text-align:center;position:absolute;width:100%;height:100%;font-size:1em;line-height:inherit;*line-height:2em;}
.faicon-stack .faicon-stack-base{font-size:2em;*line-height:1em;}
.faicon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
a .faicon-stack,a .faicon-spin{display:inline-block;text-decoration:none;}
@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);} 100%{-moz-transform:rotate(359deg);}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);} 100%{-webkit-transform:rotate(359deg);}}@-o-keyframes spin{0%{-o-transform:rotate(0deg);} 100%{-o-transform:rotate(359deg);}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg);} 100%{-ms-transform:rotate(359deg);}}@keyframes spin{0%{transform:rotate(0deg);} 100%{transform:rotate(359deg);}}.faicon-rotate-90:before{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.faicon-rotate-180:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.faicon-rotate-270:before{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.faicon-flip-horizontal:before{-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1);}
.faicon-flip-vertical:before{-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1);}
a .faicon-rotate-90:before,a .faicon-rotate-180:before,a .faicon-rotate-270:before,a .faicon-flip-horizontal:before,a .faicon-flip-vertical:before{display:inline-block;}
.faicon-glass:before{content:"\f000";}
.faicon-music:before{content:"\f001";}
.faicon-search:before{content:"\f002";}
.faicon-envelope-alt:before{content:"\f003";}
.faicon-heart:before{content:"\f004";}
.faicon-star:before{content:"\f005";}
.faicon-star-empty:before{content:"\f006";}
.faicon-user:before{content:"\f007";}
.faicon-film:before{content:"\f008";}
.faicon-th-large:before{content:"\f009";}
.faicon-th:before{content:"\f00a";}
.faicon-th-list:before{content:"\f00b";}
.faicon-ok:before{content:"\f00c";}
.faicon-remove:before{content:"\f00d";}
.faicon-zoom-in:before{content:"\f00e";}
.faicon-zoom-out:before{content:"\f010";}
.faicon-power-off:before,.faicon-off:before{content:"\f011";}
.faicon-signal:before{content:"\f012";}
.faicon-gear:before,.faicon-cog:before{content:"\f013";}
.faicon-trash:before{content:"\f014";}
.faicon-home:before{content:"\f015";}
.faicon-file-alt:before{content:"\f016";}
.faicon-time:before{content:"\f017";}
.faicon-road:before{content:"\f018";}
.faicon-download-alt:before{content:"\f019";}
.faicon-download:before{content:"\f01a";}
.faicon-upload:before{content:"\f01b";}
.faicon-inbox:before{content:"\f01c";}
.faicon-play-circle:before{content:"\f01d";}
.faicon-rotate-right:before,.faicon-repeat:before{content:"\f01e";}
.faicon-refresh:before{content:"\f021";}
.faicon-list-alt:before{content:"\f022";}
.faicon-lock:before{content:"\f023";}
.faicon-flag:before{content:"\f024";}
.faicon-headphones:before{content:"\f025";}
.faicon-volume-off:before{content:"\f026";}
.faicon-volume-down:before{content:"\f027";}
.faicon-volume-up:before{content:"\f028";}
.faicon-qrcode:before{content:"\f029";}
.faicon-barcode:before{content:"\f02a";}
.faicon-tag:before{content:"\f02b";}
.faicon-tags:before{content:"\f02c";}
.faicon-book:before{content:"\f02d";}
.faicon-bookmark:before{content:"\f02e";}
.faicon-print:before{content:"\f02f";}
.faicon-camera:before{content:"\f030";}
.faicon-font:before{content:"\f031";}
.faicon-bold:before{content:"\f032";}
.faicon-italic:before{content:"\f033";}
.faicon-text-height:before{content:"\f034";}
.faicon-text-width:before{content:"\f035";}
.faicon-align-left:before{content:"\f036";}
.faicon-align-center:before{content:"\f037";}
.faicon-align-right:before{content:"\f038";}
.faicon-align-justify:before{content:"\f039";}
.faicon-list:before{content:"\f03a";}
.faicon-indent-left:before{content:"\f03b";}
.faicon-indent-right:before{content:"\f03c";}
.faicon-facetime-video:before{content:"\f03d";}
.faicon-picture:before{content:"\f03e";}
.faicon-pencil:before{content:"\f040";}
.faicon-map-marker:before{content:"\f041";}
.faicon-adjust:before{content:"\f042";}
.faicon-tint:before{content:"\f043";}
.faicon-edit:before{content:"\f044";}
.faicon-share:before{content:"\f045";}
.faicon-check:before{content:"\f046";}
.faicon-move:before{content:"\f047";}
.faicon-step-backward:before{content:"\f048";}
.faicon-fast-backward:before{content:"\f049";}
.faicon-backward:before{content:"\f04a";}
.faicon-play:before{content:"\f04b";}
.faicon-pause:before{content:"\f04c";}
.faicon-stop:before{content:"\f04d";}
.faicon-forward:before{content:"\f04e";}
.faicon-fast-forward:before{content:"\f050";}
.faicon-step-forward:before{content:"\f051";}
.faicon-eject:before{content:"\f052";}
.faicon-chevron-left:before{content:"\f053";}
.faicon-chevron-right:before{content:"\f054";}
.faicon-plus-sign:before{content:"\f055";}
.faicon-minus-sign:before{content:"\f056";}
.faicon-remove-sign:before{content:"\f057";}
.faicon-ok-sign:before{content:"\f058";}
.faicon-question-sign:before{content:"\f059";}
.faicon-info-sign:before{content:"\f05a";}
.faicon-screenshot:before{content:"\f05b";}
.faicon-remove-circle:before{content:"\f05c";}
.faicon-ok-circle:before{content:"\f05d";}
.faicon-ban-circle:before{content:"\f05e";}
.faicon-arrow-left:before{content:"\f060";}
.faicon-arrow-right:before{content:"\f061";}
.faicon-arrow-up:before{content:"\f062";}
.faicon-arrow-down:before{content:"\f063";}
.faicon-mail-forward:before,.faicon-share-alt:before{content:"\f064";}
.faicon-resize-full:before{content:"\f065";}
.faicon-resize-small:before{content:"\f066";}
.faicon-plus:before{content:"\f067";}
.faicon-minus:before{content:"\f068";}
.faicon-asterisk:before{content:"\f069";}
.faicon-exclamation-sign:before{content:"\f06a";}
.faicon-gift:before{content:"\f06b";}
.faicon-leaf:before{content:"\f06c";}
.faicon-fire:before{content:"\f06d";}
.faicon-eye-open:before{content:"\f06e";}
.faicon-eye-close:before{content:"\f070";}
.faicon-warning-sign:before{content:"\f071";}
.faicon-plane:before{content:"\f072";}
.faicon-calendar:before{content:"\f073";}
.faicon-random:before{content:"\f074";}
.faicon-comment:before{content:"\f075";}
.faicon-magnet:before{content:"\f076";}
.faicon-chevron-up:before{content:"\f077";}
.faicon-chevron-down:before{content:"\f078";}
.faicon-retweet:before{content:"\f079";}
.faicon-shopping-cart:before{content:"\f07a";}
.faicon-folder-close:before{content:"\f07b";}
.faicon-folder-open:before{content:"\f07c";}
.faicon-resize-vertical:before{content:"\f07d";}
.faicon-resize-horizontal:before{content:"\f07e";}
.faicon-bar-chart:before{content:"\f080";}
.faicon-twitter-sign:before{content:"\f081";}
.faicon-facebook-sign:before{content:"\f082";}
.faicon-camera-retro:before{content:"\f083";}
.faicon-key:before{content:"\f084";}
.faicon-gears:before,.faicon-cogs:before{content:"\f085";}
.faicon-comments:before{content:"\f086";}
.faicon-thumbs-up-alt:before{content:"\f087";}
.faicon-thumbs-down-alt:before{content:"\f088";}
.faicon-star-half:before{content:"\f089";}
.faicon-heart-empty:before{content:"\f08a";}
.faicon-signout:before{content:"\f08b";}
.faicon-linkedin-sign:before{content:"\f08c";}
.faicon-pushpin:before{content:"\f08d";}
.faicon-external-link:before{content:"\f08e";}
.faicon-signin:before{content:"\f090";}
.faicon-trophy:before{content:"\f091";}
.faicon-github-sign:before{content:"\f092";}
.faicon-upload-alt:before{content:"\f093";}
.faicon-lemon:before{content:"\f094";}
.faicon-phone:before{content:"\f095";}
.faicon-unchecked:before,.faicon-check-empty:before{content:"\f096";}
.faicon-bookmark-empty:before{content:"\f097";}
.faicon-phone-sign:before{content:"\f098";}
.faicon-twitter:before{content:"\f099";}
.faicon-facebook:before{content:"\f09a";}
.faicon-github:before{content:"\f09b";}
.faicon-unlock:before{content:"\f09c";}
.faicon-credit-card:before{content:"\f09d";}
.faicon-rss:before{content:"\f09e";}
.faicon-hdd:before{content:"\f0a0";}
.faicon-bullhorn:before{content:"\f0a1";}
.faicon-bell:before{content:"\f0a2";}
.faicon-certificate:before{content:"\f0a3";}
.faicon-hand-right:before{content:"\f0a4";}
.faicon-hand-left:before{content:"\f0a5";}
.faicon-hand-up:before{content:"\f0a6";}
.faicon-hand-down:before{content:"\f0a7";}
.faicon-circle-arrow-left:before{content:"\f0a8";}
.faicon-circle-arrow-right:before{content:"\f0a9";}
.faicon-circle-arrow-up:before{content:"\f0aa";}
.faicon-circle-arrow-down:before{content:"\f0ab";}
.faicon-globe:before{content:"\f0ac";}
.faicon-wrench:before{content:"\f0ad";}
.faicon-tasks:before{content:"\f0ae";}
.faicon-filter:before{content:"\f0b0";}
.faicon-briefcase:before{content:"\f0b1";}
.faicon-fullscreen:before{content:"\f0b2";}
.faicon-group:before{content:"\f0c0";}
.faicon-link:before{content:"\f0c1";}
.faicon-cloud:before{content:"\f0c2";}
.faicon-beaker:before{content:"\f0c3";}
.faicon-cut:before{content:"\f0c4";}
.faicon-copy:before{content:"\f0c5";}
.faicon-paperclip:before,.faicon-paper-clip:before{content:"\f0c6";}
.faicon-save:before{content:"\f0c7";}
.faicon-sign-blank:before{content:"\f0c8";}
.faicon-reorder:before{content:"\f0c9";}
.faicon-list-ul:before{content:"\f0ca";}
.faicon-list-ol:before{content:"\f0cb";}
.faicon-strikethrough:before{content:"\f0cc";}
.faicon-underline:before{content:"\f0cd";}
.faicon-table:before{content:"\f0ce";}
.faicon-magic:before{content:"\f0d0";}
.faicon-truck:before{content:"\f0d1";}
.faicon-pinterest:before{content:"\f0d2";}
.faicon-pinterest-sign:before{content:"\f0d3";}
.faicon-google-plus-sign:before{content:"\f0d4";}
.faicon-google-plus:before{content:"\f0d5";}
.faicon-money:before{content:"\f0d6";}
.faicon-caret-down:before{content:"\f0d7";}
.faicon-caret-up:before{content:"\f0d8";}
.faicon-caret-left:before{content:"\f0d9";}
.faicon-caret-right:before{content:"\f0da";}
.faicon-columns:before{content:"\f0db";}
.faicon-sort:before{content:"\f0dc";}
.faicon-sort-down:before{content:"\f0dd";}
.faicon-sort-up:before{content:"\f0de";}
.faicon-envelope:before{content:"\f0e0";}
.faicon-linkedin:before{content:"\f0e1";}
.faicon-rotate-left:before,.faicon-undo:before{content:"\f0e2";}
.faicon-legal:before{content:"\f0e3";}
.faicon-dashboard:before{content:"\f0e4";}
.faicon-comment-alt:before{content:"\f0e5";}
.faicon-comments-alt:before{content:"\f0e6";}
.faicon-bolt:before{content:"\f0e7";}
.faicon-sitemap:before{content:"\f0e8";}
.faicon-umbrella:before{content:"\f0e9";}
.faicon-paste:before{content:"\f0ea";}
.faicon-lightbulb:before{content:"\f0eb";}
.faicon-exchange:before{content:"\f0ec";}
.faicon-cloud-download:before{content:"\f0ed";}
.faicon-cloud-upload:before{content:"\f0ee";}
.faicon-user-md:before{content:"\f0f0";}
.faicon-stethoscope:before{content:"\f0f1";}
.faicon-suitcase:before{content:"\f0f2";}
.faicon-bell-alt:before{content:"\f0f3";}
.faicon-coffee:before{content:"\f0f4";}
.faicon-food:before{content:"\f0f5";}
.faicon-file-text-alt:before{content:"\f0f6";}
.faicon-building:before{content:"\f0f7";}
.faicon-hospital:before{content:"\f0f8";}
.faicon-ambulance:before{content:"\f0f9";}
.faicon-medkit:before{content:"\f0fa";}
.faicon-fighter-jet:before{content:"\f0fb";}
.faicon-beer:before{content:"\f0fc";}
.faicon-h-sign:before{content:"\f0fd";}
.faicon-plus-sign-alt:before{content:"\f0fe";}
.faicon-double-angle-left:before{content:"\f100";}
.faicon-double-angle-right:before{content:"\f101";}
.faicon-double-angle-up:before{content:"\f102";}
.faicon-double-angle-down:before{content:"\f103";}
.faicon-angle-left:before{content:"\f104";}
.faicon-angle-right:before{content:"\f105";}
.faicon-angle-up:before{content:"\f106";}
.faicon-angle-down:before{content:"\f107";}
.faicon-desktop:before{content:"\f108";}
.faicon-laptop:before{content:"\f109";}
.faicon-tablet:before{content:"\f10a";}
.faicon-mobile-phone:before{content:"\f10b";}
.faicon-circle-blank:before{content:"\f10c";}
.faicon-quote-left:before{content:"\f10d";}
.faicon-quote-right:before{content:"\f10e";}
.faicon-spinner:before{content:"\f110";}
.faicon-circle:before{content:"\f111";}
.faicon-mail-reply:before,.faicon-reply:before{content:"\f112";}
.faicon-github-alt:before{content:"\f113";}
.faicon-folder-close-alt:before{content:"\f114";}
.faicon-folder-open-alt:before{content:"\f115";}
.faicon-expand-alt:before{content:"\f116";}
.faicon-collapse-alt:before{content:"\f117";}
.faicon-smile:before{content:"\f118";}
.faicon-frown:before{content:"\f119";}
.faicon-meh:before{content:"\f11a";}
.faicon-gamepad:before{content:"\f11b";}
.faicon-keyboard:before{content:"\f11c";}
.faicon-flag-alt:before{content:"\f11d";}
.faicon-flag-checkered:before{content:"\f11e";}
.faicon-terminal:before{content:"\f120";}
.faicon-code:before{content:"\f121";}
.faicon-reply-all:before{content:"\f122";}
.faicon-mail-reply-all:before{content:"\f122";}
.faicon-star-half-full:before,.faicon-star-half-empty:before{content:"\f123";}
.faicon-location-arrow:before{content:"\f124";}
.faicon-crop:before{content:"\f125";}
.faicon-code-fork:before{content:"\f126";}
.faicon-unlink:before{content:"\f127";}
.faicon-question:before{content:"\f128";}
.faicon-info:before{content:"\f129";}
.faicon-exclamation:before{content:"\f12a";}
.faicon-superscript:before{content:"\f12b";}
.faicon-subscript:before{content:"\f12c";}
.faicon-eraser:before{content:"\f12d";}
.faicon-puzzle-piece:before{content:"\f12e";}
.faicon-microphone:before{content:"\f130";}
.faicon-microphone-off:before{content:"\f131";}
.faicon-shield:before{content:"\f132";}
.faicon-calendar-empty:before{content:"\f133";}
.faicon-fire-extinguisher:before{content:"\f134";}
.faicon-rocket:before{content:"\f135";}
.faicon-maxcdn:before{content:"\f136";}
.faicon-chevron-sign-left:before{content:"\f137";}
.faicon-chevron-sign-right:before{content:"\f138";}
.faicon-chevron-sign-up:before{content:"\f139";}
.faicon-chevron-sign-down:before{content:"\f13a";}
.faicon-html5:before{content:"\f13b";}
.faicon-css3:before{content:"\f13c";}
.faicon-anchor:before{content:"\f13d";}
.faicon-unlock-alt:before{content:"\f13e";}
.faicon-bullseye:before{content:"\f140";}
.faicon-ellipsis-horizontal:before{content:"\f141";}
.faicon-ellipsis-vertical:before{content:"\f142";}
.faicon-rss-sign:before{content:"\f143";}
.faicon-play-sign:before{content:"\f144";}
.faicon-ticket:before{content:"\f145";}
.faicon-minus-sign-alt:before{content:"\f146";}
.faicon-check-minus:before{content:"\f147";}
.faicon-level-up:before{content:"\f148";}
.faicon-level-down:before{content:"\f149";}
.faicon-check-sign:before{content:"\f14a";}
.faicon-edit-sign:before{content:"\f14b";}
.faicon-external-link-sign:before{content:"\f14c";}
.faicon-share-sign:before{content:"\f14d";}
.faicon-compass:before{content:"\f14e";}
.faicon-collapse:before{content:"\f150";}
.faicon-collapse-top:before{content:"\f151";}
.faicon-expand:before{content:"\f152";}
.faicon-euro:before,.faicon-eur:before{content:"\f153";}
.faicon-gbp:before{content:"\f154";}
.faicon-dollar:before,.faicon-usd:before{content:"\f155";}
.faicon-rupee:before,.faicon-inr:before{content:"\f156";}
.faicon-yen:before,.faicon-jpy:before{content:"\f157";}
.faicon-renminbi:before,.faicon-cny:before{content:"\f158";}
.faicon-won:before,.faicon-krw:before{content:"\f159";}
.faicon-bitcoin:before,.faicon-btc:before{content:"\f15a";}
.faicon-file:before{content:"\f15b";}
.faicon-file-text:before{content:"\f15c";}
.faicon-sort-by-alphabet:before{content:"\f15d";}
.faicon-sort-by-alphabet-alt:before{content:"\f15e";}
.faicon-sort-by-attributes:before{content:"\f160";}
.faicon-sort-by-attributes-alt:before{content:"\f161";}
.faicon-sort-by-order:before{content:"\f162";}
.faicon-sort-by-order-alt:before{content:"\f163";}
.faicon-thumbs-up:before{content:"\f164";}
.faicon-thumbs-down:before{content:"\f165";}
.faicon-youtube-sign:before{content:"\f166";}
.faicon-youtube:before{content:"\f167";}
.faicon-xing:before{content:"\f168";}
.faicon-xing-sign:before{content:"\f169";}
.faicon-youtube-play:before{content:"\f16a";}
.faicon-dropbox:before{content:"\f16b";}
.faicon-stackexchange:before{content:"\f16c";}
.faicon-instagram:before{content:"\f16d";}
.faicon-flickr:before{content:"\f16e";}
.faicon-adn:before{content:"\f170";}
.faicon-bitbucket:before{content:"\f171";}
.faicon-bitbucket-sign:before{content:"\f172";}
.faicon-tumblr:before{content:"\f173";}
.faicon-tumblr-sign:before{content:"\f174";}
.faicon-long-arrow-down:before{content:"\f175";}
.faicon-long-arrow-up:before{content:"\f176";}
.faicon-long-arrow-left:before{content:"\f177";}
.faicon-long-arrow-right:before{content:"\f178";}
.faicon-apple:before{content:"\f179";}
.faicon-windows:before{content:"\f17a";}
.faicon-android:before{content:"\f17b";}
.faicon-linux:before{content:"\f17c";}
.faicon-dribbble:before{content:"\f17d";}
.faicon-skype:before{content:"\f17e";}
.faicon-foursquare:before{content:"\f180";}
.faicon-trello:before{content:"\f181";}
.faicon-female:before{content:"\f182";}
.faicon-male:before{content:"\f183";}
.faicon-gittip:before{content:"\f184";}
.faicon-sun:before{content:"\f185";}
.faicon-moon:before{content:"\f186";}
.faicon-archive:before{content:"\f187";}
.faicon-bug:before{content:"\f188";}
.faicon-vk:before{content:"\f189";}
.faicon-weibo:before{content:"\f18a";}
.faicon-renren:before{content:"\f18b";}