#plugcubed-gui {
    position:absolute;
    margin-left:-522px;
    top:-320px;
}

#plugcubed-gui h2 {
    background-color:#0b0b0b;
    height:112px;
    width:156px;
    margin:0;
    color:#fff;
    font-size:13px;
    font-variant:small-caps;
    padding:8px 0 0 12px;
    border-top:1px dotted #292929;
}

#plugcubed-gui ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#plugcubed-gui li {
    float:left;
}

#plugcubed-gui p {
    background:#0b0b0b;
    height:32px;
    padding-top:8px;
    padding-left:8px;
    cursor:pointer;
    font-variant:small-caps;
    width:84px;
    font-size:15px;
    margin:0;
}

#plugcubed-gui p:hover {
    background-color:#3C3C3C;
}

#plugcubed-gui h1 {
    background-color:#0b0b0b;
    height:32px;
    padding-top:8px;
    padding-left:8px;
    cursor:pointer;
    font-variant:small-caps;
    width:84px;
    font-size:20px;
    margin:0;
}

.afkTimer {
    position:absolute;
    left:22px;
    top:23px;
    font-size:12px;
    color:rgb(150,150,150);
}

#dialog-commands {
    width:620px;
    height:610px;
}

#dialog-commands .dialog-submit-button {
    width:75px;
}

#dialog-custom-colors {
    width:230px;
    height:540px;
}

#dialog-custom-colors input[type="text"],
#dialog-chat-limit input[type="text"] {
    width:60px;
}

#dialog-custom-colors .dialog-body {
    height:125px;
}

#dialog-custom-colors .dialog-default-button {
    right:170px;
    width:50px;
}

#dialog-custom-colors .dialog-cancel-button {
    right:100px;
}

#dialog-custom-colors .dialog-submit-button {
    width:75px;
}

#dialog-custom-colors .dialog-checkbox-container-enabled {
    left:10px;
    top:5px;
}

#dialog-custom-colors .dialog-input-background {
    width:60px;
    left:150px;
}

#dialog-notify {
    width:190px;
    height:250px;
}

#dialog-notify .dialog-body {
    height:125px;
}

#dialog-notify .dialog-cancel-button {
    width:85px;
    right:98px;
}

#dialog-notify .dialog-submit-button {
    width:85px;
    right:5px;
}

#dialog-notify .dialog-checkbox-container-enabled {
    left:10px;
    top:5px;
}

#dialog-notify .dialog-input-background {
    width:60px;
    left:150px;
}

#dialog-chat-limit {
    width:200px;
    height:150px;
}

#dialog-chat-limit .dialog-body {
    height:125px;
}

#dialog-chat-limit .dialog-submit-button {
    width:85px;
    right:5px;
}

#plug-cubed {
    position:absolute;
    left:55px;
    top:0;
    width:53px;
    height:54px;
    cursor:pointer;
    background:#323742;
    -moz-box-shadow:inset 0 -2px 0 -1px #0a0a0a;
    -webkit-box-shadow:inset 0 -2px 0 -1px #0a0a0a;
    box-shadow:inset 0 -2px 0 -1px #0a0a0a;
}

.icon-plug-cubed {
    left:15px;
    top:11px;
    background-image:url('http://alpha.plugcubed.net/images/menu_logo.png');
}

#user-lists .list.room .user .icon-meh {
    left:auto;
    right:8px;
    top:-1px;
}

#volume .icon-volume-off-once {
    background-repeat: no-repeat;
    background-position: 9px 6px;
    background-image:url('http://alpha.plugcubed.net/images/mute_once.png');
}

#p3-settings,
#p3-settings-custom-colors {
    position:absolute;
    left:-270px;
    top:54px;
    background:#0a0a0a;
    width:270px;
    border-right:1px solid #0a0a0a;
    border-bottom:1px solid #0a0a0a;
    z-index:1500;
}
#p3-settings-custom-colors {
    z-index:1499;
}

#p3-settings .header,
#p3-settings-custom-colors .header {
    position:relative;
    background:#1c1f25;
    width:100%;
    height:59px;
    float:left;
}

#p3-settings .header .back,
#p3-settings-custom-colors .header .back {
    position:absolute;
    right:0;
    top:0;
    width:59px;
    height:59px;
    border-left:1px solid #0a0a0a;
    cursor:pointer;
}

#p3-settings .header .back i,
#p3-settings-custom-colors .header .back i {
    left:15px;
    top:15px;
}

#p3-settings .header .title,
#p3-settings-custom-colors .header .title {
    position:absolute;
    top:9px;
    left:7px;
}

#p3-settings .header .title i,
#p3-settings-custom-colors .header .title i {
    left:4px;
    top:6px;
}

#p3-settings .header .title span,
#p3-settings-custom-colors .header .title span {
    position:absolute;
    font-size:23px;
    top:-4px;
    left:45px;
    font-weight:300;
}

#p3-settings-custom-colors .header .title span {
    width:190px;
    font-size:18px;
    left:5px;
    top:8px;
}

#p3-settings .header .title span.version {
    font-size:12px;
    color:gray;
    width:150px;
    top:30px;
}

#p3-settings .container,
#p3-settings-custom-colors .container {
    position:relative;
    float:left;
    width:100%;
    margin-bottom:10px;
}

#p3-settings .container .section,
#p3-settings-custom-colors .container .section {
    position:relative;
    font-size:18px;
    margin-left:18px;
    margin-top:10px;
}

#p3-settings .container .item,
#p3-settings-custom-colors .container .item {
    position:relative;
    height:25px;
    margin-top:6px;
}

#p3-settings .container .item {
    cursor:pointer;
}

#p3-settings .container .item i,
#p3-settings-custom-colors .container .item i {
    left:18px;
    top:2px;
    display:none;
}

#p3-settings .container .item span,
#p3-settings-custom-colors .container .item span,
#p3-settings-custom-colors .container .item input {
    position:absolute;
    left:35px;
    color:#808691;
    font-weight:300;
    margin-left:10px;
}

#p3-settings-custom-colors .container .item span {
    left:0px;
}

#p3-settings-custom-colors .container .item span.default {
    right:5px;
    left:auto;
    width:20px;
    height:20px;
    background-image:url('http://alpha.plugcubed.net/images/default_settings.png');
    cursor:pointer;
}

#p3-settings-custom-colors .container .item span.example {
    right:130px;
    left:auto;
    width:5px;
    height:20px;
}

#p3-settings-custom-colors .container .item input {
    right:28px;
    left:auto;
    width:100px;
    text-align:center;
    color:#000000;
    border-left:none;
}

#p3-settings .container .item input {
    position:absolute;
    left:44px;
    width:200px;
}

#p3-settings .container .cap,
#p3-settings-custom-colors .container .cap {
    position:relative;
    height:68px;
    margin-left:45px;
    margin-top:8px;
}

#p3-settings .container .cap .title,
#p3-settings-custom-colors .container .cap .title {
    position:relative;
    color:#808691;
    font-weight:300;
}

#p3-settings .container .cap .counts,
#p3-settings-custom-colors .container .cap .counts {
    position:relative;
    margin-top:5px;
    margin-left:3px;
    height:25px;
    max-width:145px;
    text-align:justify;
    -ms-text-justify:distribute-all-lines;
    text-justify:distribute-all-lines;
}

#p3-settings .container .cap .counts .count,
#p3-settings-custom-colors .container .cap .counts .count {
    width:23px;
    height:15px;
    font-size:14px;
    font-weight:300;
    vertical-align:top;
    display:inline;
}

#p3-settings .container .cap .counts .stretch,
#p3-settings-custom-colors .container .cap .counts .stretch {
    width:135px;
    display:inline-block;
    font-size:0;
    line-height:0;
}

#p3-settings .container .cap .slider,
#p3-settings-custom-colors .container .cap .slider {
    position:relative;
    width:150px;
    height:18px;
}

#p3-settings .container .cap .slider .bar,
#p3-settings-custom-colors .container .cap .slider .bar {
    position:absolute;
    top:5px;
    left:0;
    width:100%;
    height:6px;
    background:#282c35;
    border-radius:10px;
}

#p3-settings .container .cap .slider .circle,
#p3-settings-custom-colors .container .cap .slider .circle {
    position:absolute;
    top:0;
    left:115px;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#808691;
}

#p3-settings .container .cap .slider .hit,
#p3-settings-custom-colors .container .cap .slider .hit {
    position:absolute;
    top:0;
    left:7.5px;
    width:100%;
    height:17px;
    cursor:pointer;
}

#p3-settings .container .spacer,
#p3-settings-custom-colors .container .spacer {
    position:relative;
    float:left;
    width:100%;
    height:19px;
}

#p3-settings .container .divider,
#p3-settings-custom-colors .container .divider {
    position:absolute;
    left:0;
    top:8px;
    width:100%;
    height:1px;
    background:#1c1f25;
}

#p3-settings .container .item.selected i,
#p3-settings-custom-colors .container .item.selected i {
    display:block;
}

.p3-s-stream,.p3-s-clear {
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.p3-s-stream {
    background-image:url('http://alpha.plugcubed.net/images/stream_on_off.png');
    left:205px;
    top:7px;
}

.p3-s-stream.selected {
    background-position:-30px 0px;
}

.p3-s-clear {
    background-image:url('http://alpha.plugcubed.net/images/clear_chat.png');
    left:254px;
}

#p3-dj-booth {
    background-position:center center;
    background-repeat:no-repeat;
    position:absolute;
    width:300px;
    height:100px;
    left:-64px;
    top:70px;
    z-index:-1;
}

.p3slider .hit, .p3slider .line, .p3slider .circle {
    position:absolute;
}

.p3slider {
    position:relative;
    right:64px;
    top:0;
    height:25px;
    width:100px;
    z-index:5;
}

.p3slider .hit {
    top:8px;
    left:14.5px;
    height:23px;
    width:85px;
    z-index:3;
    cursor:pointer;
}

.p3slider .line {
    left:8px;
    top:12px;
    width:85px;
    height:1px;
    background:#808691;
    z-index:1;
}

.p3slider .circle {
    left:46px;
    top:6px;
    width:13px;
    height:13px;
    border-radius:50%;
    background:#EEE;
    z-index:2;
}