@charset "utf-8";
@media  screen and (max-width: 1366px) {
    #p3-settings-wrapper {
        height: 0;
    }
    #p3-settings, #p3-settings-custom-colors {
        min-height: 410px;
    }
    #p3-videoText {
        left: 27%;
    }
}
@media  screen and (min-width: 1600px) {
    #p3-settings-wrapper {
        height: auto;
    }
    #p3-settings, #p3-settings-custom-colors {
        min-height: 535px;
    }
    #p3-videoText {
        left: 32.5%;
    }
}
#p3-videoText {
    cursor: none;
    font-size: 71px;
    text-align: center;
    position: absolute;
    top: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.afkTimer {
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

#plugcubed .cube-wrap .cube {
    position: relative;
    width: 30px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#plugcubed .cube-wrap .cube.spin {
    -webkit-animation: spin 1s;
    animation: spin 1s;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
}

@-webkit-keyframes spin-back {
    from {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spin-back {
    from {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

.cube-wrap {
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 0 0;
    perspective-origin: 0 0;
}

#plugcubed {
    z-index: 90000;
    cursor: pointer;
    background: #282C35;
    -webkit-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    border-right: 1px solid #0A0A0A;
}

#chat .badge-box .icon.icon-plugcubed, .icon.icon-plugcubed {
    background-image: url('https://plugcubed.net/scripts/alpha/images/menu_logo.png') !important;
}

.icon.icon-plugcubed {
    left: 4px;
    -webkit-transform: translateZ(19px);
    transform: translateZ(19px);
}

.badge-box .icon.icon-plugcubed {
    background-size: 26px 26px;
    top: 2px;
    height: 26px;
    width: 26px;
}

#app-menu.open ~ #plugcubed .icon.icon-plugcubed {
    display: none;
}

#plugcubed .icon.icon-plugcubed.other {
    -webkit-transform: rotateY(-270deg) translateX(19px);
    transform: rotateY(-270deg) translateX(19px);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

#user-lists .list.room .user .icon-meh {
    left: auto;
    right: 8px;
    top: -1px;
}

#volume .icon-volume-off-once {
    background: url('https://plugcubed.net/scripts/alpha/images/icons/mute_once.png') no-repeat 9px 6px;
}

.p3-commands {
    list-style: square;
}

#p3-settings-wrapper {
    position: absolute;
    top: 50px;
    bottom: 54px;
    width: 2px;
}

#p3-settings,
#p3-settings-custom-colors {
    position: absolute;
    left: -270px;
    max-height: 100%;
    /*below this height, plug stops resizing (vertically)*/
    overflow-y: auto;
    background: #0a0a0a;
    border-right: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
    z-index: 1500;
}

#p3-settings-custom-colors {
    z-index: 1499;
}

#p3-settings .header,
#p3-settings-custom-colors .header {
    background: #1c1f25;
    height: 59px;
    padding-right: 60px;
}

#p3-settings .header .back,
#p3-settings-custom-colors .header .back {
    position: absolute;
    right: 0;
    top: 0;
    width: 59px;
    height: 59px;
    border-left: 1px solid #0a0a0a;
    cursor: pointer;
}

#p3-settings .header .back i,
#p3-settings-custom-colors .header .back i {
    left: 15px;
    top: 15px;
}

#p3-settings .header .title,
#p3-settings-custom-colors .header .title {
    padding-top: 5px;
    padding-left: 6px;
}

#p3-settings .header .title i,
#p3-settings-custom-colors .header .title i {
    top: 14px;
}

#p3-settings .header .title span,
#p3-settings-custom-colors .header .title span {
    font-size: 23px;
    font-weight: 300;
    margin-top: -4px;
    margin-left: 45px;
}

#p3-settings-custom-colors .header .title span {
    display: block;
    width: 190px;
    font-size: 18px;
    margin-left: 0;
    margin-top: 10px;
}

#p3-settings .header .title span.version {
    display: block;
    font-size: 12px;
    color: gray;
    padding-top: 5px;
    margin-right: 5px;
}

#p3-settings .p3-container,
#p3-settings-custom-colors .p3-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#p3-settings .p3-container .section,
#p3-settings-custom-colors .p3-container .section {
    position: relative;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 10px;
}

#p3-settings .p3-container .item,
#p3-settings-custom-colors .p3-container .item {
    position: relative;
    height: 25px;
    margin-top: 6px;
}

#p3-settings-custom-colors .p3-container .item {
    padding-right: 150px;
    margin-left: 0;
    text-align: right;
    height: 20px;
}

#p3-settings .p3-container .item {
    cursor: pointer;
    width: auto;
}

#p3-settings .p3-container .item i,
#p3-settings-custom-colors .p3-container .item i {
    left: 18px;
    top: 2px;
    display: none;
}

#p3-settings .p3-container .item span,
#p3-settings .p3-container .item input,
#p3-settings-custom-colors .p3-container .item span,
#p3-settings-custom-colors .p3-container .item input {
    color: #808691;
    font-weight: 300;
    margin-left: 45px;
    margin-right: 10px;
    text-transform: capitalize;
    white-space: nowrap;
}

#p3-settings .p3-container .item input {
    width: 200px;
}

#p3-settings-custom-colors .p3-container .item span {
    margin-left: 10px;
}

#p3-settings-custom-colors .p3-container .item span.default {
    position: absolute;
    right: 5px;
    left: auto;
    width: 20px;
    height: 20px;
    background-image: url('https://plugcubed.net/scripts/alpha/images/icons/default_settings.png');
    cursor: pointer;
    top: 0;
}

#p3-settings-custom-colors .p3-container .item span.example {
    position: absolute;
    right: 132px;
    left: auto;
    width: 5px;
    height: 20px;
    top: 0;
}

#p3-settings-custom-colors .p3-container .item input {
    position: absolute;
    right: 30px;
    left: auto;
    width: 100px;
    text-align: center;
    color: #000000;
    border-left: none;
    top: 0;
}

#p3-settings .p3-container .spacer,
#p3-settings-custom-colors .p3-container .spacer {
    position: relative;
    float: left;
    width: 100%;
    height: 19px;
}

#p3-settings .p3-container .divider,
#p3-settings-custom-colors .p3-container .divider {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 1px;
    background: #1c1f25;
}

#p3-control-panel .p3-header:first-child {
    margin: 0 0 8px;
}

#p3-control-panel .p3-header {
    -webkit-box-shadow: inset 0 1px 0 0 #555D70;
    box-shadow: inset 0 1px 0 0 #555D70;
    margin: 35px 0 8px;
    height: 21px;
    width: 100%;
}

#p3-control-panel .p3-header span {
    position: relative;
    text-transform: uppercase;
    top: 4px;
    color: #555D70;
    font-weight: 400;
}

#p3-control-panel .p3-item i {
    display: none;
}

#p3-control-panel .p3-item span {
    margin-left: 25px;
}

#p3-settings .p3-container .item.selected i,
#p3-control-panel .p3-item.selected i,
#p3-settings-custom-colors .p3-container .item.selected i {
    display: block;
}

#p3-control-panel-current .p3-control-left,
#p3-control-panel-current .p3-control-right {
    position: relative;
    width: 50%;
}

#p3-control-panel-current .p3-control-left {
    float: left;
}

#p3-control-panel-current .p3-control-right {
    float: right;
}

#p3-control-panel-current .p3-textarea {
    min-height: 300px;
    max-height: 500px;
    color: #eee;
    background: rgb(40, 44, 53);
    width: 100%;
    font-family: monospace;
    margin-left: 0;
    margin-bottom: 28px;
    text-align: left;
    resize: none;
    font-size: 12px;
}

.chat-header-button {
    margin-right: 18px;
}

.p3-s-stream,
.p3-s-clear {
    width:  30px !important;
    top:  8px !important;
    background: no-repeat 0 0;
}

.p3-s-stream {
    background-image: url('https://plugcubed.net/scripts/alpha/images/icons/stream_on_off.png');
}

.p3-s-stream.selected {
    background-position: -30px 0;
}

.p3-s-clear {
    background-image: url('https://plugcubed.net/scripts/alpha/images/icons/clear_chat.png');
}

#p3-dj-booth {
    background: no-repeat center center;
    position: absolute;
    width: 300px;
    height: 100px;
    left: -64px;
    top: 70px;
    z-index: -1;
}

.p3slider .hit,
.p3slider .line,
.p3slider .circle {
    position: absolute;
}

.p3slider {
    position: relative;
    right: 64px;
    top: 0;
    height: 25px;
    width: 100px;
    z-index: 5;
}

.p3slider .hit {
    top: 8px;
    height: 23px;
    width: 100px;
    z-index: 3;
    cursor: pointer;
}

.p3slider .line {
    left: 8px;
    top: 12px;
    width: 105px;
    height: 1px;
    background: #808691;
    z-index: 1;
}

.p3slider .circle {
    left: 46px;
    top: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #EEE;
    z-index: 2;
}

.is-p3developer .from .icon,
i.icon.icon-is-p3developer,
.meta i.icon.icon.is-p3developer,
.user i.icon.icon.is-p3developer
.is-p3sponsor .from .icon,
.name .has-p3Role.is-p3sponsor.icon,
i.icon.icon-chat-p3sponsor,
.meta i.icon.icon-chat-p3sponsor,
.user i.icon.icon-chat-p3sponsor,
.is-p3special .from .icon,
.name .has-p3Role.is-p3special.icon,
i.icon.icon-is-p3special,
.meta i.icon.icon-is-p3special,
.user i.icon.icon-is-p3special,
.is-p3ambassador .from .icon,
.name .has-p3Role.is-p3ambassador.icon,
i.icon.icon-is-p3ambassador,
.meta i.icon-icon-is-p3ambassador,
.user i.icon-icon-is-p3ambassador,
.is-p3donatorDiamond .from .icon,
.name .has-p3Role.is-p3donatorDiamond.icon,
i.icon.icon-is-p3donatorDiamond,
.meta i.icon.icon-is-p3donatorDiamond,
.user i.icon.icon-is-p3donatorDiamond,
.is-p3donatorPlatinum .from .icon,
.name .has-p3Role.is-p3donatorPlatinum.icon,
i.icon.icon-is-p3donatorPlatinum,
.meta i.icon.icon-is-p3donatorPlatinum,
.user i.icon.icon-is-p3donatorPlatinum,
.is-p3donatorGold .from .icon,
.name .has-p3Role.is-p3donatorGold.icon,
i.icon.icon-is-p3donatorGold,
.meta i.icon.icon-is-p3donatorGold,
.user i.icon.icon-is-p3donatorGold,
.is-p3donatorSilver .from .icon,
.name .has-p3Role.is-p3donatorSilver.icon,
i.icon.icon-is-p3donatorSilver,
.meta i.icon.icon-is-p3donatorSilver,
.user i.icon.icon-is-p3donatorSilver,
.is-p3donatorBronze .from .icon,
.name .has-p3Role.is-p3donatorBronze.icon,
i.icon.icon-is-p3donatorBronze,
.meta i.icon.icon-is-p3donatorBronze,
.user i.icon.icon-is-p3donatorBronze {
    width: 16px;
    height: 16px;
}

.is-p3developer .from .icon-chat-subscriber,
.is-p3sponsor .from .icon-chat-subscriber .is-p3special .from .icon-chat-subscriber,
.is-p3ambassador .from .icon-chat-subscriber,
.is-p3donatorDiamond .from .icon-chat-subscriber,
.is-p3donatorPlatinum .from .icon-chat-subscriber,
.is-p3donatorGold .from .icon-chat-subscriber,
.is-p3donatorSilver .from .icon-chat-subscriber,
.is-p3donatorBronze .from .icon-chat-subscriber {
    background-position: -175px -350px !important;
}

.is-p3developer .from .icon-chat-silver-subscriber,
.is-p3sponsor .icon-chat-silver-subscriber .is-p3special .from .icon-chat-silver-subscriber,
.is-p3ambassador .from .icon-chat-silver-subscriber,
.is-p3donatorDiamond .from .icon-chat-silver-subscriber,
.is-p3donatorPlatinum .icon-chat-silver-subscriber,
.is-p3donatorGold .from .icon-chat-silver-subscriber,
.is-p3donatorSilver .icon-chat-silver-subscriber,
.is-p3donatorBronze .from .icon-chat-silver-subscriber {
    background-position: -175px -365px !important;
}

.icon.icon-chat-p3developer,
.icon.icon-chat-p3sponsor,
.icon.icon-chat-p3ambassador,
.icon.icon-chat-p3donatorDiamond,
.icon.icon-chat-p3donatorPlatinum,
.icon.icon-chat-p3donatorGold,
.icon.icon-chat-p3donatorBronze,
.icon.icon-chat-p3donatorSilver {
    height: 16px;
    width: 16px;
}

.icon.icon-chat-p3developer,
i.icon.icon-chat-p3developer,
.meta i.icon.icon.chat-p3developer,
.user i.icon.icon.chat-p3developer,
.name .has-p3Role.is-p3developer.icon,
#user-rollover .meta.has-p3Role.is-p3developer .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3dev.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3sponsor,
i.icon.icon-chat-p3sponsor,
.meta i.icon.icon-chat-p3sponsor,
.user i.icon.icon-chat-p3sponsor,
.name .has-p3Role.is-p3sponsor.icon,
#user-rollover .meta.has-p3Role.is-p3sponsor .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3sponsor.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3ambassador,
i.icon.icon-chat-p3ambassador,
.meta i.icon.icon.chat-p3ambassador,
.user i.icon.icon.chat-p3ambassador,
.name .has-p3Role.is-p3ambassador.icon,
#user-rollover .meta.has-p3Role.is-p3ambassador .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3ambassador.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3donatorDiamond,
i.icon.icon-chat-p3donatorDiamond,
.meta i.icon.icon-chat-p3donatorDiamond,
.user i.icon.icon-chat-p3donatorDiamond,
.name .has-p3Role.is-p3donatorDiamond.icon,
#user-rollover .meta.has-p3Role.is-p3donatorDiamond .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3donator.diamond.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3donatorPlatinum,
i.icon.icon-chat-p3donatorPlatinum,
.meta i.icon.icon-chat-p3donatorPlatinum,
.user i.icon.icon-chat-p3donatorPlatinum,
.name .has-p3Role.is-p3donatorPlatinum.icon,
#user-rollover .meta.has-p3Role.is-p3donatorPlatinum .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3donator.platinum.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3donatorGold,
i.icon.icon-chat-p3donatorGold,
.meta i.icon.icon-chat-p3donatorGold,
.user i.icon.icon-chat-p3donatorGold,
.name .has-p3Role.is-p3donatorGold.icon,
#user-rollover .meta.has-p3Role.is-p3donatorGold .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3donator.gold.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3donatorSilver,
i.icon.icon-chat-p3donatorSilver,
.meta i.icon.icon-chat-p3donatorSilver,
.user i.icon.icon-chat-p3donatorSilver,
.name .has-p3Role.is-p3donatorSilver.icon,
#user-rollover .meta.has-p3Role.is-p3donatorSilver .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3donator.silver.png') !important;
    background-position: 0, 0;
}

.icon.icon-chat-p3donatorBronze,
i.icon.icon-chat-p3donatorBronze,
.meta i.icon.icon-chat-p3donatorBronze,
.user i.icon.icon-chat-p3donatorBronze,
.name .has-p3Role.is-p3donatorBronze.icon,
#user-rollover .meta.has-p3Role.is-p3donatorBronze .p3Role {
    background-image: url('https://plugcubed.net/scripts/alpha/images/ranks/p3donator.bronze.png') !important;
    background-position: 0, 0;
}

.is-p3developer .bdg,
.is-p3ambassador .bdg {
    background-size: cover !important;
    background-position: 0 0;
    height: 30px;
    width: 30px;
}

.is-p3developer .bdg {
    background-image: url('https://plugcubed.net/scripts/alpha/images/badges/p3dev.png') !important;
}

.is-p3ambassador .bdg {
    background-image: url('https://plugcubed.net/scripts/alpha/images/badges/p3ambassador.png') !important;
}

#chat-header,
#user-lists .header,
#waitlist .header {
    background-color: #0A0A0A;
}

#chat .is-p3developer .un,
#waitlist .user .name .has-p3Role.is-p3developer + span,
#user-lists .user > .icon.icon-chat-p3developer + .name,
#user-rollover .meta.is-p3developer .p3Role,
#user-rollover .meta.is-p3developer .username {
    color: #17B7EF !important;
}

#chat .is-p3ambassador .un,
#waitlist .user .name .has-p3Role.is-p3ambassador + span,
#user-lists .user > .icon.icon-chat-p3ambassador + .name,
#user-rollover .meta.is-p3ambassador .p3Role,
#user-rollover .meta.is-p3ambassador .username {
    color: #FFC926 !important;
}

.pm {
    position: relative;
    padding: 6px 5px 6px 28px;
    word-wrap: break-word;
    width: 90%;
}

.pm > .icon {
    background-image: url('https://plugcubed.net/scripts/alpha/images/icons/pm.png') !important;
}

.icon.icon-p3-lang {
    background-image: url('https://plugcubed.net/scripts/alpha/images/icons/lang.png');
    width: 15px;
    height: 14px;
}

#p3-control-panel {
    position: absolute;
    background: rgba(17, 19, 23, 0.9);
    top: 50px;
    left: 50px;
    overflow: hidden;
}

#p3-control-panel-top {
    height: 54px;
    width: 100%;
    background: #282c35;
}

#p3-control-panel-top span {
    top: 10px;
    left: 15px;
    position: relative;
    color: #DDD;
    background: url("https://plugcubed.net/scripts/alpha/images/menu_logo.png") no-repeat;
    padding-left: 30px;
    padding-top: 2px;
    font-size: 21px;
}

#p3-control-panel-menu {
    position: absolute;
    top: 54px;
    left: 0;
    height: 100%;
    width: 256px;
    background: rgba(28, 31, 37, 0.67);
}

.p3-control-panel-menu-tab {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background: #282c35;
    color: #808691;
    cursor: pointer;
    border-top: solid 1px #111111;
}

.p3-control-panel-menu-tab.current {
    background: #00b5e6;
    color: #eeeeee;
}

#p3-control-panel-current {
    position: absolute;
    top: 54px;
    left: 256px;
    margin: 10px;
}

#p3-control-panel .input-group {
    margin-bottom: 5px;
}

#p3-control-panel input {
    width: 220px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    border: none;
    background: #323742;
    border-radius: 5px;
    padding: 10px;
    color: #eeeeee;
}

#p3-control-panel input::-webkit-input-placeholder {
    text-align: center;
}

#p3-control-panel input:-ms-input-placeholder {
    text-align: center;
}

#p3-control-panel input::-ms-input-placeholder {
    text-align: center;
}

#p3-control-panel input::placeholder {
    text-align: center;
}
#p3-control-panel .label {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    width: 200px;
    display: inline-block;
}

#p3-control-panel .button {
    background: #282c35;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    width: 220px;
    color: #808691;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}

#p3-control-panel .p3-item {
    margin-top: 15px;
    cursor: pointer;
    width: auto;
    height: 15px;
}

#p3-control-panel .button.submit {
    background: #00b5e6;
    color: #eeeeee;
}

#p3-control-panel-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 54px;
    z-index: 100;
    cursor: pointer;
    background: #FF5CDE;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF5CDE), to(#5700FF));
    background: -webkit-linear-gradient(top, #FF5CDE 0, #5700FF 100%);
    background: -o-linear-gradient(top, #FF5CDE 0, #5700FF 100%);
    background: linear-gradient(to bottom, #FF5CDE 0, #5700FF 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$purple2', endColorstr='$purple1', GradientType=0);
}

#p3-control-panel-close i {
    left: 12px;
    top: 13px;
}

#user-rollover .meta .p3Role {
    display: none;
}

#your-next-media .song {
    top: 8px;
}

.cm.promo {
    display: none;
}

#chat .cm:hover .delete-button {
    display: block;
}

#chat .plugcubed-deleted .delete-button {
    display: none !important;
}

#user-rollover .meta {
    height: 126px;
}

#user-rollover .meta.has-p3Role .p3Role {
    display: block;
    position: absolute;
    top: 103px;
    left: 108px;
    overflow: hidden;
    width: 170px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    background-repeat: no-repeat;
    padding-left: 18px;
}

#user-rollover .meta .joined {
    top: 61px;
}

#user-rollover .meta .p3UserID {
    left: 109px;
    top: 81px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
}

.p3-user-id {
    color: #5c5c5c;
    margin-left: 5px;
    font-size: 10px;
}

.p3-user-info {
    color: #5c5c5c;
    margin-left: 5px;
    font-size: 10px;
}

#user-rollover .actions .action.p3-qmute, #user-rollover .actions .action.p3-qinfo, #user-rollover .actions .action.p3-qban {
    display: block;
    -webkit-box-shadow: inset 1px 1px 0 0 #1c1f25;
    box-shadow: inset 1px 1px 0 0 #1c1f25;
}

.p3-qban {
    width:  33%;
}
i.icon-p3-qban {
    background-image: url(https://plugcubed.net/scripts/alpha/images/icons/quick-ban.png);
    height: 30px;
    width: 30px;
}

.p3-qmute {
    width:  34%;
}

i.icon-p3-qmute {
    background-image: url(https://plugcubed.net/scripts/alpha/images/icons/quick-mute.png);
    height: 30px;
    width: 30px;
}

.p3-qinfo {
    width:  33%;
}

.p3-user-info strong {
    color: #a5a5a5;
}

.p3VoteIcon {
    right: 0;
}

.p3-strike {
    text-decoration: line-through;
}

blockquote.p3-blockquote {
    border-radius: 3px;
    border-left: 3px solid #3D3D3D;
    quotes: none;
    margin: .5em 10px;
    padding: .5em 10px;
}

.p3-dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.p3-mention-dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.p3-mention-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 181, 230, 0.34);
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.p3-mention-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.p3-mention-dropdown-content a:hover {
    background-color: #00b5e6;
}

.p3-mention-dropdown:hover .p3-mention-dropdown-content {
    display: block;
}

.p3-mention-dropdown:hover .p3-dropbtn {
    background-color: #3e8e41;
}

.p3-command {
    cursor: pointer;
    text-decoration:  underline;
}

.p3-command:hover {
    text-decoration: none;
}

.p3-command-args, .p3-command-description {
    color:  #FFF;
    font-size: 13px;
}

table.p3-commands-list {
    border-collapse: collapse;
    font-size: 15px;
    width: 100%;
    color: #f7f723
}
table.p3-commands-list th, table.p3-commands-list td {
    padding: 8px;
    border-bottom: 1px solid #232529;
}


/** Plug fixes **/

/** Move the X on waitlist to the side **/
.right-side-wrapper #waitlist .icon-x-white {
    right: -8px !important;
}
/** Make badges great again **/
#chat .badge-box i {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}
/** Remove the blue from player **/
.community .community__playing-top {
    background-color:  unset;
}
/** Fixes the song title **/
.community__playing-bottom-container {
    max-width: 100%;
}
