#plugbot-userlist p.admin_current,#plugbot-userlist p.admin_meh,#plugbot-userlist p.admin_undecided,#plugbot-userlist p.admin_woot,#plugbot-userlist p.ambassador_current,#plugbot-userlist p.ambassador_meh,#plugbot-userlist p.ambassador_undecided,#plugbot-userlist p.ambassador_woot,#plugbot-userlist p.bouncer_current,#plugbot-userlist p.bouncer_meh,#plugbot-userlist p.bouncer_undecided,#plugbot-userlist p.bouncer_woot,#plugbot-userlist p.host_current,#plugbot-userlist p.host_meh,#plugbot-userlist p.host_undecided,#plugbot-userlist p.host_woot,#plugbot-userlist p.manager_current,#plugbot-userlist p.manager_meh,#plugbot-userlist p.manager_undecided,#plugbot-userlist p.manager_woot {
    background: url(https://raw.github.com/TATDK/plugCubed/dev/images/sprites.png?login=Colgate&token=a92024a684c363a9e82798e1d7414ab3) no-repeat;
    width: 13px;
    height: 14px;
    position: relative;
    left: 15px;
}

#plugbot-userlist p.admin_current {
    background-position: -45px 0;
}

#plugbot-userlist p.admin_meh {
    background-position: -30px 0;
}

#plugbot-userlist p.admin_undecided {
    background-position: -15px 0;
}

#plugbot-userlist p.admin_woot {
    background-position: 0 0;
}

#plugbot-userlist p.ambassador_current {
    background-position: -45px -15px;
}

#plugbot-userlist p.ambassador_meh {
    background-position: -30px -15px;
}

#plugbot-userlist p.ambassador_undecided {
    background-position: -15px -15px;
}

#plugbot-userlist p.ambassador_woot {
    background-position: 0 -15px;
}

#plugbot-userlist p.bouncer_current {
    background-position: -45px -60px;
}

#plugbot-userlist p.bouncer_meh {
    background-position: -30px -60px;
}

#plugbot-userlist p.bouncer_undecided {
    background-position: -15px -60px;
}

#plugbot-userlist p.bouncer_woot {
    background-position: 0 -60px;
}

#plugbot-userlist p.host_current {
    background-position: -45px -30px;
}

#plugbot-userlist p.host_meh {
    background-position: -30px -30px;
}

#plugbot-userlist p.host_undecided {
    background-position: -15px -30px;
}

#plugbot-userlist p.host_woot {
    background-position: 0 -30px;
}

#plugbot-userlist p.manager_current {
    background-position: -45px -45px;
}

#plugbot-userlist p.manager_meh {
    background-position: -30px -45px;
}

#plugbot-userlist p.manager_undecided {
    background-position: -15px -45px;
}

#plugbot-userlist p.manager_woot {
    background-position: 0 -45px;
}

#plugbot-userlist p.void {
    position: relative;
    left: 15px;
}